body{
    margin: 0;
    font-family: tahoma;
    color: #666;
}

#total{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    
}

#banner img{
    width: 1000px;
    margin-top: 2px;
}

#topo{
    text-align: center;
}
#menu {
    background-color: black;
    height: 30px;
    margin-top: 30px;
    padding-top: 10px;
    
    
}
#menu a{
    color: #fff;
    text-decoration: none;
    margin: 0 35px;
    
   
}
#menu a:hover {
    text-decoration: underline;
   
}
.texto {
    width:400px;
    float: left;
    margin-right:40px;
    line-height:20px;
    font-size:14px;
